
create table if not exists payments (
  id uuid default uuid_generate_v4() primary key,
  order_id uuid references orders(id),
  user_id uuid references auth.users(id),
  provider text,
  flutterwave_transaction_id text,
  tx_ref text,
  amount numeric,
  currency text,
  status text,
  raw jsonb,
  verified_at timestamp with time zone,
  created_at timestamp with time zone default now()
);

